$font-color: #2b2b2b;

$aside_bg_color: #9C8AA5;
$aside_width: 320px;

$main_bg_color:#f7f9fc;

$nav_width: 50px;
$nav_bg_color: #BDAEC6;

$border_color:#85929b;

$link_color:#421C52;
$link_hover_color:#9C8AA5;

body {
	font-family: 'Open Sans Condensed', sans-serif;;
    font-feature-settings: "swsh";
    color: $font-color;
    -moz-hyphens: none;
    word-wrap: break-word;
    font-weight: 200;
    line-height: 1.65;
    text-rendering: optimizelegibility;
}

p {
    margin: 0 0 1em;
    word-spacing: 0;
}

ul { 
	margin: 1em 0;
  	padding: 0 0 0 40px; 
	list-style:none; 
	}
li { 
	margin-bottom:10px; 
}
li:before {    
    font-family: 'FontAwesome';
    content: '\f101';
    margin:0 10px 0 -15px;
}

a, a:focus {
	font-weight: 400;
	font-size: .9375em;
	color: $link_color;
	text-decoration: none;
	&:hover {
		color:$link_hover_color;
	}
}


.highlight {
	font-size: 0.8em;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
  	
  	&:before {
	  color: #ccc;
	  content: open-quote;
	  font-size: 4em;
	  line-height: 0.1em;
	  margin-right: 0.25em;
	  vertical-align: -0.4em;
	}
  	
	p {
  		display: inline;
  	}
}
 
body {
	&>aside  {
		&>section  {
			height: 100%;
			padding: 2em 5%;
			overflow: hidden;		
		}
		&>.stripe {
			position: absolute;
			top: 0;
			right: 0;
			width: $nav_width;
			height: 100%;
			padding: 0;
			border-left:solid 1px $border_color;
			background-color:  $nav_bg_color;
		}
	}
}

main {
	background: $main_bg_color;
	div {
		overflow: hidden;	
	}
	article {
		max-width: 32em;
		width: 90%;
		margin: 0 auto;
		padding: 2em 0;
		font-size: 1.125em;
		h1 {
			padding: 0 3%;
			text-align: center;
			&+aside {
				font-family: 'Source Sans Pro', Arial, sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				color: $border_color;
				font-size: .875em;
				border-top: solid 1px $border_color;
				text-align: center;
				margin: .5em 0 5em;
				time {
					position: relative;
					top: -0.95em;
					background: #f7f9fc;
					padding: 0 1em;
					margin: -1em 0 0;				
				}
			}
			p {
				&:first-of-type {
					font-size: 1.1em;					
				}
			}
		}
	}
}

@media only screen and (min-width:768px) {
	
	body>aside, body>aside.right {
		position: fixed;
		height: 100%;
		top: 0;
		overflow: hidden;
		z-index: 5000;
	}
	
	body>aside:nth-child(1) {
		left: 0;
		padding: 0 $nav_width 0 0;
		width: $aside_width;
		border-right: solid 1px $border_color;
		background-color: $aside_bg_color;
		section {
			text-align:center;
			h1 {
				font-size: .9175em;
				color: #fff;
				font-weight: normal;
				font-style: italic;
				margin: 1em 0;
				letter-spacing: .05em;
				line-height: 1.25;
				em {
					display: inline-block;
					width: 100%;
					font-size: 1.5em;
					font-family: 'Lato', sans-serif;
					font-style: normal;
					text-transform: uppercase;
					letter-spacing: .075em;
				}	
			}
			.elsewhere {
				display: inline-block;
				margin: 2em 0 0;
				ul {
					display: inline-block;
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						list-style:none;
						display: inline-block;
						margin: 0 0 1em .35em;
						&:first-child {
							clear: left;
							margin: 0 0 1em 0;					
						}
						&:before {
							content: none;
						}
						a {
							color:inherit;
						}
					}
				}
			}
		}
		
	}
	
	body>aside.right {
		right:0;
		padding: 0 0 0 50px;
		width: $aside_width / 2;
		border-left: solid 1px $border_color;
	}
	
	body>aside>section {
		position: absolute;
		top: 0;
		left: 0;
		width: $aside_width - $nav_width;
		max-height: 9999em;
		z-index: 2;
	}
	body>aside>section h4 {
		margin: 1em 0
	}

	body>aside .legal {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 380px;
		display: block;
		visibility: visible;
		z-index: 100;
		color: #10191f
	}
	body>aside .legal a {
		color: #10191f
	}
	body>aside .legal a:hover,body>aside .legal a:focus {
		color: #10191f
	}
	body>aside .legal small {
		display: inline;
		width: auto;
		cursor: default
	}
	main {
		position: relative;
		padding: 0 $aside_width/2 0 $aside_width
	}
	main article {
		width: 80%;
		margin: 0 auto;
		padding: 4em 0;
		font-size: 1.25em
	}
}