<head>
<meta charset="utf-8">
<meta name="description" content="Blog">
<meta name="author" content="{{ site.author.name }}">

<title>{{page.title}}</title> {% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}

<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	rel="stylesheet">
<!-- 	<link href="/assets/styles/jumbotron-narrow.css" rel="stylesheet"> -->
<link href="/assets/styles/solarized.css" rel="stylesheet">
<style type="text/css">
table th,table td {
	border: 1px solid #DDDDDD;
	padding: 6px 13px;
}

table th {
	font-weight: bold;
}
</style>

<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.js"></script>

</head>