<head>
<meta charset="utf-8">
<meta name="description" content="Blog">
<meta name="author" content="{{ site.author.name }}">

<title>{{page.title}}</title> {% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}

<link rel="stylesheet"
	href="/assets/bower_components/bootstrap-css/css/bootstrap.css">
<link rel="stylesheet"
	href="/assets/bower_components/bootstrap-css/css/bootstrap-theme.css">
<link rel="stylesheet" href="/assets/css/solarized.css">
<link rel="stylesheet" href="/assets/css/blog.css">

<script type="text/javascript"
	src="/assets/bower_components/jquery/dist/jquery.min.js"></script>

</head>