<!DOCTYPE html>
<html lang="fr">
{% include head.html %}
<body>

	<header>
		<div class="container">
			<h1 class="blog-title">De choses et d'autres</h1>
			<p class="lead blog-description">The official example template of
				creating a blog with Bootstrap.</p>
<!-- 			<div class="title-area"> -->
<!-- 				<p class="site-title">De choses et d'autre</p> -->
<!-- 				<p class="site-description">A blog </p> -->
<!-- 			</div> -->
		</div>
	</header>

	<div class="container ">

		<div class="row">

			<div class="col-sm-8 blog-main">
				<div class="blog-post">{{ content }}</div>
			</div>

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>About</h4>
					<p>
						Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras
						mattis consectetur purus sit amet fermentum. Aenean lacinia
						bibendum nulla sed consectetur.
					</p>
				</div>
				<div class="sidebar-module">
					{% include JB/setup %}
					{% assign posts_collate = site.posts %}
					{% include sidebar-archives-module.tpl.html %}					
				</div>
				<div class="sidebar-module">
					<h4>Elsewhere</h4>
					<ol class="list-unstyled">
						<li><a href="#">GitHub</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ol>
				</div>
			</div>

		</div>
		<div class="row">
			<footer class="blog-footer"> {% include footer.html %} </footer>
		</div>
	</div>
</body>
</html>

